body{

	font-family: "Space Grotesk";
	margin: 0;
	background: var(--color-secundario);

}
:root{

	--texto-titulo: "Material Symbols Outlined";
	--color-primario: #2272FF;
	--color-secundario: #1d1d1d;
	--color-contraste: #F2D34E;

}
/*************************************
*	ESTILOS MAIN CONTAINER					
**************************************/
.MainContainer{

	margin: 0;
	background: var(--color-secundario);
	display: flex;
	justify-content: space-between;

}
.JsonInput{

	width: 50%;

}
.JsonInput pre{

	width: 100%;
	overflow-y: auto;
	max-height: 100vh;
	min-height: 100vh;
	color: #fff;
	font-size: 1.2em;
	font-family: monospace;

}
.ViewsResult{

	width: 50%;

}
.JsonInput button{

	width: 100%;
	height: 35px;
	background: var(--color-primario);
	border: 3px solid transparent;
	cursor: pointer;
	border-radius: 4px;
	color: #fff;
	transition: 0.3s

}
.JsonInput button:hover{

	border: 3px solid var(--color-primario);
	background: transparent;
	color: var(--color-primario);

}
.tabsViews{

	width: 100%;
	box-sizing: border-box;
	background: var(--color-primario);
	padding:15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.tabsViews button{

	width: 120px;
	margin-left: 10px;
	font-size: 1.2em;
	width: 100%;
	height: 35px;
	background: var(--color-primario);
	border: 3px solid transparent;
	cursor: pointer;
	border-radius: 4px;
	color: #fff;
	transition: 0.3s

}
.tabsViews button:hover{

	border: 3px solid var(--color-contraste);
	background: transparent;
	color: var(--color-contraste);

}
/*************************************
*	ESTILOS PIE DE PÁGINA 					
**************************************/
footer{

	width: 100%;
	box-sizing: border-box;
	background: var(--color-secundario);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	justify-content: center;

}
footer p{

	color: #fff;

}