:root{
    --violeta-oscuro: rgba(44, 44, 84,1.0);
    --violeta-bordestext: rgba(112, 111, 211,1.0); 
    --violeta-claro: rgba(71, 71, 135,1.0);
}
body{
	font-family: "Poppins";
    background-color: rgba(44, 44, 84,1.0);
}
.container{
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
}
.calculadora{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: rgba(179, 57, 57,1.0);
	padding: 20px;
	border-radius: 10px;
	width: 40%;
    margin-top: 50px;
}
.calculadora h1{
	text-align: center;
	color: rgba(255, 82, 82,1.0);
	margin-bottom: 20px;
	font-size: 2rem;
}
#layout-calc{
	width: 100%;
}
#visor{
	width: 100%;
}
.visor{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}
input.visor{
	text-align: right;
	width: 100%;
	font-size: 45px;
	box-shadow: none;
	transition: .3s;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
}
input.visor:hover{
	box-shadow: -8px -8px 15px rgba(255, 82, 82,0.5), 5px 5px 15px rgba(255, 82, 82,0.5);
}
.columnas{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.columnas div{
	width: 11.1%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.columnas div button{
	width: 40px;
	height: 40px;
	margin: 3px;
	box-shadow: -8px -8px 15px rgba(255, 82, 82,0.3), 5px 5px 15px rgba(255, 82, 82,0.3);
	background: transparent;
	border: 0;
	outline: 0;
	border-radius: 3px;
	font-size: .8rem;
	text-align: center;
	color: #fff;
	font-weight: 200;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.columnas div button:hover{
	background: rgba(255, 82, 82,1.0);
	box-shadow: -8px -8px 15px rgba(179, 57, 57,0.8), 5px 5px 15px rgba(179, 57, 57,0.8);
}
#calcular{
	background: rgba(44, 44, 84,1.0);
}
#calcular:hover{
	background: rgba(64, 64, 122,1.0);
}
#ac{
	background: rgba(33, 140, 116,1.0);
}
#ac:hover{
	background: rgba(51, 217, 178,1.0);
}
#borrar{
	background: rgba(205, 97, 51,1.0);
}
#borrar:hover{
	background: rgba(255, 121, 63,1.0);
}
.funcionalidades{
	width: 100%;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.funcionalidades button{
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 3px;
	font-size: 1em;
	border-radius: 3px;
	background: rgba(44, 44, 84,1.0);
	color: #fff;
	transition: .3s;
}
.funcionalidades button:hover{
	background: rgba(64, 64, 122,1.0);
}
.TiposTrabajos{
	width: 100%;
	background: #fff;
}
.TiposTrabajos h3{
	box-sizing: border-box;
	padding:10px;
	color: var(--violeta-oscuro);
	margin-bottom: 0px;
}
.TiposTrabajos p{
	box-sizing: border-box;
	padding: 10px;
	font-size: 0.8em;
	margin-top: 0px;
}
/*********************************
    Estilos seccion proyecto
**********************************/
.box-info{
	width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5rem;
    box-shadow: 2px 2px 5px var(--violeta-bordestext);
    overflow-y: auto;
    margin-top: 50px;
}
.proyecto-info{
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.proyecto-info h2{
    color: var(--violeta-bordestext);
    box-sizing: border-box;
    padding-left: 10px;
}
.proyecto-info p{
    padding-left: 10px;
    color: #fff;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: justify;
    font-weight: lighter;
}
.tech-stack{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tech-stack span{
    width: 100%;
    color: #fff;
    font-weight: lighter;
    font-size: 0.9rem;
}
.author-info{
    margin-top: 25px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.author-info img{
    width: 90px;
    height: 90px;
    box-shadow: 2px 2px 5px var(--violeta-bordestext);
    border-radius: 50%;
}
.author-info h3{
    color: var(--violeta-bordestext);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}
.author-info p{
    padding-left: 10px;
    margin-top: 2px;
    color: #fff;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: center;
}
.update-log{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--violeta-bordestext);
    border-radius: 3px;
    overflow-y: scroll;
    max-height: 250px;
}
.update-log h3{
    color: var(--violeta-oscuro);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    width: 100%;
}
.update-feed{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.update-item{
    border: 1px solid var(--violeta-oscuro);
    margin-bottom: 10px;
    border-radius: 3px;
}
.update-date{
    background-color: var(--violeta-oscuro);
    color: var(--violeta-bordestext);
    margin-top: 5px;
    margin-left: 5px;
}
.update-item p{
    font-weight: 200;
    font-size: .8rem;
    padding-left: 10px;
    padding-right: 10px;
    
}
/*********************************
    Estilos seccion proyecto
**********************************/
.box-usuarios{
	width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
}
.tabs-container{
	width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tabs-header{
	display: flex;
	justify-content: space-between;
}
.tabs-header button{
	outline: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: var(--violeta-claro);
	color: #fff;
	height: 35px;
	cursor: pointer;
	border-bottom: 3px solid var(--violeta-bordestext);
	transition: 0.3s;
	border-radius: 3px;
}
.tabs-header button:hover{
	background: var(--violeta-bordestext);
	border-bottom: 3px solid var(--violeta-claro);
}
/*********************************
    Estilos seccion tab panel
**********************************/
.tab-panel{
	width: 100%;
	/*border: 1px solid var(--violeta-bordestext);*/
	margin-top: 25px;
	box-sizing: border-box;
	padding: 5px;
}
.stat-item{
	width: 100%;
	background-color: var(--violeta-claro);
	margin-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #fff;
}
.stat-item span.stat-value{
	background: rgba(255, 82, 82,1.0);
	margin-left: 15px;
	border-radius: 50%;
	padding-left: 5px;
	padding-right: 5px;
}
/*********************************
    Estilos seccion usuario y forms
**********************************/
.user-auth{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.user-auth h4{
	color: var(--violeta-bordestext);
	margin-bottom: 0px;
	text-align: center;
}
.user-auth input{
	width: 100%;
	box-sizing: border-box;
	height: 35px;
	border-radius: 3px;
	outline: 0;
	border: none;
	margin-bottom: 8px;
	font-family: "Poppins";
	padding-left: 10px;
	color: var(--violeta-oscuro);
	transition: 0.1s;
}
.user-auth input:focus{
	outline: 3px solid var(--violeta-bordestext);
}
.user-auth button{
	width: 100%;
	box-sizing: border-box;
	height: 35px;
	text-transform: uppercase;
	cursor: pointer;
	background: var(--violeta-claro);
	border: none;
	outline: 0;
	border-radius: 3px;
	color: #fff;
	transition: 0.3s;
}
.user-auth button:hover{
	background: var(--violeta-bordestext);
}
.user-auth button:focus{
	outline: 3px solid var(--violeta-oscuro);
}
.user-auth p{
	color: var(--violeta-bordestext);
	text-align: center;
	margin-bottom: 0px;
	font-size: 0.9rem;
}
.user-auth a{
	color: #fff;
	transition: 0.3s;
}
.user-auth a:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.support-form{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
/*********************************
    Blog section
**********************************/
.blogSection{
	width: 100%;
	max-width: 1120px;
	margin: 50px auto;
	border-top: 1px solid var(--violeta-bordestext);
	margin-top: 50px;
}	
.blogSection h2{
	font-size:4rem;
	color: var(--violeta-claro);
}
.individualPost{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	border-bottom: 1px dashed var(--violeta-bordestext);
}
.individualPost h3{
	text-align: right;
	font-size: 2.5rem;
	color: #fff;
}
.individualPost p{
	text-align: justify;
	color: #fff;
	font-weight: 300;
}
.footerBlog{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.footerBlog p{
	margin-left: 25px;
	font-size: 0.8rem;
}
.footerBlog p span{
	background: var(--violeta-claro);
	box-sizing: border-box;
	padding: 3px;
	border-radius: 5px;
	margin-left: 15px;
}
.individualPost button{
	outline: 0;
	background: transparent;
	border: 0;
	width: 200px;
	font-size: 1.4rem;
	color: var(--violeta-claro);
	transition: 0.3s;
	cursor: pointer;
	margin-bottom: 15px;
}
.individualPost button:hover{
	color: var(--violeta-bordestext);
}
/*********************************
    Visor Fracciones
**********************************/
.VisorComplex{
	position: relative;
	width: 100%;
	font-size: 1.2rem;
	box-shadow: none;
	transition: .3s;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-bottom: 25px;
}
.Botonera{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -20px;
	right: 0;
	height: 20px;
}
.OpcionesBotonoera{
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
	transition: 0.3s;
}
.OpcionesBotonoera ion-icon{
	font-size: .8rem;
}
.OpcionesBotonoera:hover{
	box-shadow: -8px -8px 15px rgba(255, 82, 82,0.5), 5px 5px 15px rgba(255, 82, 82,0.5);
}
.OpcionesBotonoera p{
	font-size: 0.8rem;
	margin-top: 0px;
	margin-bottom: 0px;
}
.VisorComplex p{
	margin-left: 3px;
	margin-right: 3px;
}
.Fraccion{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 5px;
}
.BoxFraccion{ 
	border: 1px solid transparent;
	min-width: 25px;
	min-height: 25px;
	outline: 0;
	box-sizing: border-box;
	padding: 2px;
	font-size: 1rem;
	transition: 0.3s;
	background-color: rgba(255, 82, 82,0.3);
}
.BoxFraccion:focus{
	border: 1px solid #fff;
}
.BoxFraccion:hover{
	border: 1px solid #fff;
}
.BoxFraccion p{
	margin-top: 0px;
	margin-bottom: 0px;
}
.Line{
	width: 100%;
	height: 2px;
	background: #fff;
	margin-top: 3px;
	margin-bottom: 3px;
}
.Potencia{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;
}
.Exponente{
	border: 1px solid transparent;
	width: 19px;
	height: 19px;
	outline: 0;
	box-sizing: border-box;
	padding: 2px;
	font-size: .7rem;
	transition: 0.3s;
	position: absolute;
	right: 0;
	top: 10px;
	background-color: rgba(255, 82, 82,0.3);
}
.Exponente:focus{
	border: 1px solid #fff;
}
.Exponente:hover{
	border: 1px solid #fff;
}
.BasePotencia{
	border: 1px solid transparent;
	min-width: 38px;
	min-height: 38px;
	outline: 0;
	box-sizing: border-box;
	padding: 2px;
	font-size: 1.5rem;
	transition: 0.3s;
	margin-top: 17px;
	background-color: rgba(255, 82, 82,0.3);
}
.BasePotencia:focus{
	border: 1px solid #fff;
}
.BasePotencia:hover{
	border: 1px solid #fff;
}